* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-text-color: rgb(31, 76, 136);
    --image-border: 1px solid black;
    --image-shadow: 0 0 30px gray;
    --roboto: Roboto, Arial, sans-serif;
}

body {
    font-size: 16px;
    font-family: var(--roboto);
}

nav {
    background-color: var(--heading-text-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--heading-text-color);
    padding: 0.5rem;
    border-bottom: solid 2px var(--heading-text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--image-border);
    box-shadow: var(--image-shadow);
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 170px;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(255, 228, 196, 0.199);
    padding: 1rem;
    background-color: rgba(255, 228, 196, 0.199);
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}