:root {
    --heading-text-color: rgb(41, 49, 153);
    --image-border: 1px solid black;
    --image-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--heading-text-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: 2px;
    box-shadow: var(--image-shadow);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.199);
    padding: 1rem;
    background-color: rgba(255, 228, 196, 0.199);
}

aside img {
    width: 200px;
    height: auto;
    border: var(--image-border);
    box-shadow: var(--image-shadow);
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}